<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="styles.css" rel="stylesheet">
  <script defer src="work.js"></script>
  <title>Quiz App</title>
</head>

<body>

  <div id="myModal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <i>
        <p class="para">Some text in the Modal..</p>
        <p class="para">hello</p>
      </i>
    </div>

  </div>

  <% for (var key of Object.keys(obj)) { %>
  <p class="yy" style="display:none"><%= obj[key] %></p>
  <% } %>

  <% for (var key of Object.keys(ansobj)) { %>
  <p class="ans" style="display:none"><%= ansobj[key] %></p>
  <% } %>

  <% for (var key of Object.keys(corransobj)) { %>
  <p class="corr" style="display:none"><%= corransobj[key] %></p>
  <% } %>

  <div class="container">
    <div id="question-container" class="hide">
      <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div>
    </div>
    <div class="controls">
      <h1 id="text" class="hide"></h1>
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
</body>

</html>